
#app-heading {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#nav-links {
    padding-top: 20px;
}

#nav-links a {
    display: block;
    margin-top: 20px;
    font-size: 28px;
}

#content-col {
    padding-left: 40px;
}

#page-heading {
    margin-top: 40px;
    margin-bottom: 40px;
}

.table {
    margin-top: 50px;
}

.table-col-100 {
    width: 100%;
}

.table-col-50 {
    width: 50;
}

.table-col-25 {
    width: 25%;
}

.table-col-10 {
    width: 10%;
}

.table td {
    padding: 10px;
}

.form-table {
    width: 100%;
}

.form-table td {
    padding: 10px;
}

/* Fonts */

body {
    font-family: 'Roboto', sans-serif;
}

#page-heading {
    font-family: 'Roboto Mono';
}

.price {
    font-family: 'Roboto Mono';
}

/* Colors */

#content-col {
    background-color: #323232;
    color: #e8e8e8;
}

.text-light-color {
    color: #7a7a7a;
    font-weight: 100;
}

.text-link-delete, .text-link-delete:visited, .text-link-delete:hover {
    color: #7a7a7a;
    font-weight: 100;
}

thead {
    color: #7a7a7a;
    font-weight: 100;
}

.price {
    color: #a3faff;
}

.item-link, .item-link:visited, .item-link:hover {
    color: #e8e8e8;
}

#filler-col {
    background-color: #323232;
}

#nav-links-col {
    background-color: #212121;
}

#nav-links a, #nav-links a:visited {
    color: white;
}

#nav-links a:hover {
    text-decoration: underline;
    text-decoration-color: #14ffec;
}

#page-heading {
    
    color: #a3faff;
}

.btn-outline-success {
    color: #a3faff;
    border-color: #a3faff;
}

.form-control, .form-control:focus {
    background-color: #4f4f4f;
    color: #e8e8e8;
    border: 0;
}

option {
    background-color: #4f4f4f;
    color: #e8e8e8;
}

.custom-select {
    background-color: #4f4f4f;
    color: #e8e8e8;
    border: 0;
}