
#app-heading {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#nav-links {
    text-align: center;
}

#page-heading {
    margin-top: 40px;
    margin-bottom: 40px;
}

.table {
    margin-top: 50px;
}

.table-col-100 {
    width: 100%;
}

.table-col-50 {
    width: 50;
}

.table-col-25 {
    width: 25%;
}

.table-col-10 {
    width: 10%;
}

.table td {
    padding: 10px;
}
