
#app-heading {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#nav-links {
    text-align: center;
}

#content {
    margin-top: 40px;
}

#content h1 {
    margin-bottom: 40px;
}

.table {
    margin-top: 20px;
}