
#total-price {
    margin-top: 40px;
}

#total-price span {
    font-weight: bold;
}

#form-build-name {
    margin-bottom: 30px;
}

#total-price-table {
    margin-top: 40px;
}

#total-price-table td {
    padding: 8px;
}