
#col-name {
    width: 50%;
}

#col-category {
    width: 20%;
}

#col-price {
    width: 15%;
}

#col-edit {
    width: 7.5%;
}

#col-delete {
    width: 7.5%;
}

.form-group {
    margin-right: 10px;
}

form {
    margin-bottom: 50px;
}