{% extends "base.html" %}


{% block styles %}
  <link rel="stylesheet" href="{{ static('css/products.css') }}" >
  <link rel="stylesheet" href="{{ static('css/build_edit.css') }}" >
{% endblock styles %}


{% block content %}

  <h1 id="page-heading">{{ build.name }}</h1>

  <p>Edit build details:</p>
  <div class="row" id="form-build-name">
    <div class="col-md-6">
      <form action="{{ url('build_edit_name', args=(build.id,)) }}" method="POST">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

          <table class="form-table">
            <tr>
              <td class="table-col-25">
                <label for="input-build-name">Build Name</label>
              </td>
              <td>
                <input class="form-control" type="text" value="{{ build.name }}" name="name" id="input-build-name">
              </td>
            </tr>
            <tr>
              <td>

              </td>
              <td>
                  <button type="submit" class="btn btn-outline-success">Save</button>
              </td>
            </tr>
          </table>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p>Add a product:</p>
      <form action="{{ url('build_edit', args=(build.id,))}}" method="POST">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        <table class="form-table">
          <tr>
            <td class="table-col-25">
              <label for="input-category">Category</label>
            </td>
            <td>
              <select class="custom-select" id="input-category" name="category">
                <option selected>Choose...</option>
                {% for category in categories %}
                  <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          
          <tr>
            <td>
              <label for="input-product">Product</label>
            </td>
            <td>
              <select class="custom-select" id="input-product" name="product">
                <option selected>Choose...</option>
              </select>
            </td>
          </tr>
          
          <tr>
            <td>

            </td>
            <td>
              <button type="submit" class="btn btn-outline-success"><i class="fas fa-plus"></i> Add</button>
            </td>
          </tr>
        </table>
    
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
  
  <table id="total-price-table">
    <tr>
      <td class="text-light-color">Total cost when complete:</td>
      <td class="text-right price">&#8369; {{ total_price }}</td>
    </tr>
    
    <tr>
      <td class="text-light-color">Total cost currently:</td>
      <td class="text-right price">&#8369; {{ current_price }}</td>
    </tr>

    <tr>
      <td class="text-light-color">Total cost to complete:</td>
      <td class="text-right price">&#8369; {{ cost_balance }}</td>
    </tr>
  </table>

  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th class="table-col-10 text-right" scope="col">Category</th>
        <th class="table-col-50" scope="col">Name</th>
        <th class="table-col-25 text-right" scope="col">Price</th>
        <th class="table-col-25" scope="col"></th>
        <th class="table-col-10" scope="col"></th>
      </tr>
    </thead>
    <tbody>

      {% for build_product in build_products %}
        <tr>
          <td class="text-right text-light-color">{{ build_product.product.category.name }}</td>
          <td>{{ build_product.product.name }}</td>

          {% if build_product.product.price == '--'  %}
            <td class="text-right price">--</td>
          {% else %}
            <td class="text-right price">&#8369; {{ build_product.product.price }}</td>
          {% endif %}

          <td>
            <select class="form-control input-status" id="build-product-{{ build_product.id }}">
              {% if build_product.status_code == 'BOUGHT' %}
                <option value="BOUGHT" selected>Owned</option>
                <option value="TO-BUY">Not Owned</option>
              {% else %}
                <option value="BOUGHT">Owned</option>
                <option value="TO-BUY" selected>Not Owned</option>
              {% endif %}
            </select>
          </td>
          
          <td>
            <a href="{{ url('build_product_delete', args=(build_product.id,)) }}" class="text-link-delete">delete</a>
          </td>
        </tr>
      {% endfor %}

    </tbody>
  </table>

{% endblock %}


{% block scripts %}
  <script src="{{ static('js/build_edit.js') }}"></script>
{% endblock %}