{% extends "base.html" %}


{% block styles %}
  <link rel="stylesheet" href="{{ static('css/builds.css') }}" >
{% endblock styles %}


{% block content %}

  <h1 id="page-heading">Builds</h1>

  <p>Add a build:</p>

  <div class="row">
    <div class="col-md-8">
      <form action="{{ url('builds')}}" method="POST">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        <table class="form-table">
          <tr>
            <td class="table-col-25">
              <label for="input-name">Build Name</label>
            </td>
            <td>
              <input type="text" class="form-control" id="input-name" name="name" autocomplete="off" required autofocus>
            </td>
          </tr>

          <tr>
            <td></td>
            <td>
              <button type="submit" class="btn btn-outline-success"><i class="fas fa-plus"></i> Add</button>
            </td>
          </tr>
        </table>
        
    
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th class="table-col-50" scope="col">Name</th>
            <th class="table-col-25" scope="col">Price</th>
            <th class="table-col-25" scope="col"></th>
          </tr>
        </thead>
        <tbody>

          {% for build in builds %}
            <tr>
              <td>
                <a href="{{ url('build_edit', args=(build.id,)) }}" class="item-link">{{ build.name }}</a>
              </td>
              <td class="text-right price">&#8369; {{ build.total_price }}</td>
              <td>
                <a href="{{ url('build_delete', args=(build.id,)) }}" class="text-link-delete">delete</a>
              </td>
            </tr>
    
          {% endfor %}

        </tbody>
      </table>
    </div>
    <div class="col-md-6"></div>
  </div>

{% endblock %}