{% extends "base.html" %}


{% block styles %}
  <link rel="stylesheet" href="{{ static('css/products.css') }}" >
{% endblock styles %}


{% block content %}

  <h1 id="page-heading">Products</h1>

  <p>Add a product:</p>

  <div class="row">
    <div class="col-md-8">
      <form action="{{ url('products')}}" method="POST">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        <table class="form-table">
          <tr>
            <th class="table-col-25">
                <label for="input-name">Product Name</label>
            </th>
            <td>
                <input type="text" class="form-control" id="input-name" name="name" autocomplete="off" required autofocus>
            </td>
          </tr>
          
          <tr>
              <th class="table-col-25">
                  <label for="input-category">Category</label>
              </th>
              <td>
                  <select class="custom-select" id="input-category" name="category">
                    <option selected>Choose...</option>
      
                    {% for category in categories %}
                      <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
      
                  </select>
              </td>
            </tr>
            
          <tr>
            <th class="table-col-25">
                <label for="input-price">Price</label>
            </th>
            <td>
                <input type="number" class="form-control" id="input-price" name="price" value="0.00" autocomplete="off" placeholder="Price" required>
            </td>
          </tr>
            
          <tr>
            <th class="table-col-25">
            </th>
            <td>
                <button type="submit" class="btn btn-outline-success"><i class="fas fa-plus"></i> Add</button>
            </td>
          </tr>
        </table>
        
    
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
  

  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th class="tabble-col-100 text-right" scope="col">Category</th>
        <th class="tabble-col-100" scope="col">Name</th>
        <th class="tabble-col-100 text-right" scope="col">Price</th>
        <th class="tabble-col-100" scope="col"></th>
      </tr>
    </thead>
    <tbody>

      {% for product in products %}
        <tr>
          <td class="text-right text-light-color">{{ product.category.name }}</td>
          <td>
            <a href="{{ url('product_edit', args=(product.id,)) }}" class="item-link">
              {{ product.name }}
            </a>
          </td>
          
          {% if product.price == '--' %}
            <td class="text-right">--</td>
          {% else %}
            <td class="text-right price">&#8369; {{ product.price }}</td>          
          {% endif %}
          
          <td>
            <a href="{{ url('product_delete', args=(product.id,)) }}" class="text-link-delete">delete</a>
          </td>
        </tr>
      {% endfor %}
      
    </tbody>
  </table>

{% endblock %}